<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Navbar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
  	<!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet" />
  </head>
    <body>
	  <div class="container">
	  
	 	<!-- MODAL NUEVA ASIGNATURA -->
		<div class="modal fade" id="modalNuevaAsignatura" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modalNuevaAsignatura">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Nueva Asignatura</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form class="formulario form-crear-cuenta" id="insertar-asignatura" th:action="@{/asignatura/insertar}" th:object="${dtoAsignatura}" method="POST">
				  <div class="form-group">
				  	<label for="nombre">Nombre</label>
					<input type="text" th:field="*{nombre}" class="form-control"/>
					<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message error"></label>
				  </div>
				  <div class="form-group">
				  	<label for="grupo">Grupo</label>
					<input type="text" th:field="*{grupo}" class="form-control"/>
					<label th:if="${#fields.hasErrors('grupo')}" th:errors="*{grupo}" class="validation-message error"></label>
				  </div>			  
				  <div class="form-group">
				  	<label for="curso">Curso</label>
				  	<input type="text" th:field="*{curso}" class="form-control"/>
				  	<label th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}" class="validation-message error"></label>
				  </div>
				  <div class="form-group">
				  	<input type="hidden" name="idProfesor" th:value="${usuario.id}" />
				  </div>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-naranja" form="insertar-asignatura">Añadir Asignatura</button>
		      </div>
		    </div>
		  </div>
		</div>
	  	<!-- ****** -->
	  	
	  	
	  	<!-- MODAL AÑADIR ALUMNO -->
		<div class="modal fade" id="modalNuevoAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modalNuevoAlumno">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Añadir Alumno</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form class="formulario form-crear-cuenta" id="insertar-alumno" action="#" th:action="@{/asignatura/{idAsignatura}/alta-alumno(idAsignatura=${asignatura.id})}" method="POST">
				  <div class="form-group">
				    <label for="id">Correo electrónico</label>
				    <select class="form-control" name="idAlumno">
				      <option th:each="alumno : ${alumnosNoMatriculados}"
			                            th:value="${alumno.id}"
			                            th:utext="${alumno.email}"/>
				    </select>
				  </div>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-naranja" form="insertar-alumno">Añadir Alumno</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- ****** -->
		
		<!-- MODAL AÑADIR RETO -->
		<div class="modal fade" id="modalNuevoReto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modalNuevoReto">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Añadir Reto</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form class="formulario form-crear-cuenta" id="insertar-reto" action="#" th:action="@{/asignatura/{idAsignatura}/insertar-reto(idAsignatura=${asignatura.id})}" th:object="${dtoReto}" method="POST">
				  <div class="form-group">
				  	<label for="nombre">Nombre</label>
					<input type="text" th:field="*{nombre}" class="form-control" id="nombre"/>
					<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message error"></label>
				  </div>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-naranja" form="insertar-reto">Añadir Reto</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- ****** -->
		
		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</div>
  </body>
</html>