<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Navbar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
  	<!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet" />
  </head>
    <body>
	  <div class="container">
	  	
	  	<!-- TABLA MIS ASIGNATURAS -->
	  	<table class="table table-striped table-dark" th:fragment="tablaMisAsignaturas">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Grupo</th>
		      <th scope="col">Curso</th>
		      <th scope="col" class="text-center" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">Acciones</th>
		      <th scope="col" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Alumno}">Profesor</th>
		    </tr>
		  </thead>
		  <tbody th:if="${#lists.isEmpty(asignaturas)}">
		    <tr>
		      <td colspan="5" class="text-center">No hay asignaturas que mostrar</td>
		    </tr>
		  </tbody>
		  <tbody th:if="${not #lists.isEmpty(asignaturas)}">
		    <tr th:each="asignatura : ${asignaturas}">
		      <th scope="row" th:text="${asignatura.id}"></th>
		      <td><a th:text="${asignatura.nombre}" th:href="@{/asignatura(id=${asignatura.id})}"></a></td>
		      <td th:text="${asignatura.grupo}"></td>
		      <td th:text="${asignatura.curso}"></td>
		      <td class="text-center" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">
		      	<form class="formulario-oculto" th:action="@{/asignatura/eliminar}" method="POST">
					<input type="hidden" name="id" th:value="${asignatura.id}" />
					<a onclick="this.parentNode.submit()" title="Eliminar Asignatura"><i class="material-icons icono-naranja">delete</i></a>
				</form>
		      </td>
		      <td th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Alumno}" th:text="${asignatura.profesor.nombre} + ' ' + ${asignatura.profesor.apellidos}">		      	
		      </td>
		    </tr>
		  </tbody>
		  <tfoot>
		    <tr>
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			    <td class="text-center">
			      	<!-- Button trigger modal -->
					<button type="button" class="btn btn-naranja" data-toggle="modal" data-target="#modalNuevaAsignatura" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">
						Nueva Asignatura
					</button>
				</td>
		    </tr>
		  </tfoot>
		</table>
		<!-- ****** -->
		
	  
	  	<!-- TABLA RETOS -->
	  	<table class="table table-striped table-dark" th:fragment="tablaRetos">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Enlace</th>
		      <th scope="col" class="text-center" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">Acciones</th>
		    </tr>
		  </thead>
		  <tbody th:if="${#lists.isEmpty(retos)}">
		    <tr>
		      <td colspan="5" class="text-center">No hay retos que mostrar</td>
		    </tr>
		  </tbody>
		  <tbody th:if="${not #lists.isEmpty(retos)}">
		    <tr th:each="reto : ${retos}">
		      <td scope="row" th:text="${reto.id}"></td>
		      <td th:text="${reto.nombre}"></td>
		      <td><a th:href="${reto.enlace}" th:text="${reto.enlace}" target="_blank"></a></td>
		      <td class="text-center" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">
		      	<form class="formulario-oculto" th:action="@{/asignatura/eliminar-reto}" method="POST">
					<input type="hidden" name="idAsignatura" th:value="${asignatura.id}" />
					<input type="hidden" name="idReto" th:value="${reto.id}" />
					<a onclick="this.parentNode.submit()" title="Eliminar Reto"><i class="material-icons icono-naranja">delete</i></a>
				</form>
		      </td>
		    </tr>
		  </tbody>
		  <tfoot>
		  	<tr th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Alumno}">
		      <td colspan="2" class="text-left" th:text="'Profesor de la asignatura: ' + ${asignatura.profesor.nombre} + ' ' + ${asignatura.profesor.apellidos} + '.'"></td>
		      <td colspan="1" class="text-right" th:text="' Departamento: ' + ${asignatura.profesor.departamento}  + '. Despacho: ' + ${asignatura.profesor.despacho}"></td>
		    </tr>
		    <tr th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">
			    <td></td>
			    <td></td>
			    <td></td>
			    <td class="text-center">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-naranja" data-toggle="modal" data-target="#modalNuevoReto">
						Añadir Reto
					</button>
				</td>
		    </tr>
		  </tfoot>
		</table>
		<!-- ****** -->
		
	  	
	  	<!-- TABLA ALUMNOS -->
	  	<table class="table table-striped table-dark" th:fragment="tablaAlumnos">
		  <thead>
		    <tr>
		      <th scope="col">Nombre</th>
		      <th scope="col">Titulación</th>
		      <th scope="col">Puntuación</th>
		      <th scope="col">Insignias</th>
		      <th scope="col" class="text-center" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">Acciones</th>
		    </tr>
		  </thead>
		  <tbody th:if="${#lists.isEmpty(alumnosMatriculados)}">
		    <tr>
		      <td colspan="5" class="text-center">No hay alumnos que mostrar</td>
		    </tr>
		  </tbody>
		  <tbody th:if="${not #lists.isEmpty(alumnosMatriculados)}">
		    <tr th:each="alumno : ${alumnosMatriculados}">
		      <td scope="row" th:text="${alumno.nombre} + ' ' + ${alumno.apellidos}"></td>
		      <td th:text="${alumno.titulacion}"></td>
		      <td></td>
		      <td><i th:each="insignia : ${alumno.insignias}" th:class="'material-icons insignia-' + ${insignia.categoria}" th:title="${insignia.nombre}">stars</i></td>
		      <td class="text-center" th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">
		      	<form class="formulario-oculto" th:action="@{/asignatura/baja-alumno}" method="POST">
					<input type="hidden" name="idAsignatura" th:value="${asignatura.id}" />
					<input type="hidden" name="idAlumno" th:value="${alumno.id}" />
					<a onclick="this.parentNode.submit()" title="Dar de Baja"><i class="material-icons icono-naranja">remove_circle_outline</i></a>
				</form>	      	
		      </td>
		    </tr>
		  </tbody>
		  <tfoot>
		  	<tr th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Alumno}">
		      <td colspan="2" class="text-left" th:text="'Profesor de la asignatura: ' + ${asignatura.profesor.nombre} + ' ' + ${asignatura.profesor.apellidos} + '.'"></td>
		      <td colspan="3" class="text-right" th:text="' Departamento: ' + ${asignatura.profesor.departamento}  + '. Despacho: ' + ${asignatura.profesor.despacho}"></td>
		    </tr>
		    <tr th:if="${usuario.rol == T(tfg.objetoNegocio.Rol).Profesor}">
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			    <td class="text-center">
			      	<!-- Button trigger modal -->
					<button type="button" class="btn btn-naranja" data-toggle="modal" data-target="#modalNuevoAlumno">
						Añadir Alumno
					</button>
				</td>
		    </tr>
		  </tfoot>
		</table>
		<!-- ****** -->		
		
		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</div>
  </body>
</html>