body {
	background-image: url("../images/imagenFondo.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div.container{
	position: absolute;
	min-height: 100%;
	padding: 0px;	
}

.navbar-dark{
	background: #212529;
}

.formulario{
	padding: 4% 5% 3%;
	margin: 8% auto 2%;
	background: #FFFFFF;
}

.form-crear-cuenta{
	margin-top: 3%;
}

div.card-deck{
	margin: 5% 0% 5%;
}

.jumbotron{
	margin: 5%;
	opacity: 0.93;
}

.alert{
	width: 100%;
	border-radius: 0px;
	text-align: center;
}

.btn-naranja{
	background: #FF8F00;
	color: white;
}

.btn-naranja:hover{
	background: #EF6C00;
	cursor: pointer;
}

div.enlace-inicio{
	margin: 20px 0px 0px 0px;
}

.error{
	color: red;
}

div.tabla{
	margin: 2% auto;
}

.titulo{
	margin: 0px;
	padding: 1px 0px 7px;
	border-bottom: 5px solid #FF8F00;
	background: #212529;
	color: #FF8F00;
	text-align: center;	
}

td:last-child, thead th:last-child{
	text-align: center;
}

i{
	vertical-align: middle;
	margin: 0px 5px 5px 5px;
}

.icono-naranja{
	color: #FF8F00;
}
.icono-naranja:hover{
	color: #EF6C00;
	cursor: pointer;
}

.icono-verde{
	color: #00E676;
	
}
.icono-verde:hover{
	color: #00C853;
	cursor: pointer;
}

.alert-verde{
	background: #2C3034;
	color: #00E676;
}

.alert-rojo{
	background: #2C3034;
	color: #FF1744;
}
.alert-rojo>a{
	color: #FF1744;
	text-decoration: underline;
}

.alert>button>span{
	color: #FFFFFF;
}
