body {
	background-image: url("../images/imagenFondo.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div.container{
	position: absolute;
	min-height: 100%;
	padding: 0px;	
}

.navbar-dark{
	background: #212529;
}

.separador-tablas{
	background: #212529;
	border-color: #32383E;
}

.separador-tablas a{
	color: #FF8F00 !important;
	border-radius: 0px !important;
	color: #FFFFFF;
}

.separador-tablas a:hover{
	border: 1px solid #212529 !important;
	border-bottom: 1px solid #FF8F00 !important;
}

.separador-tablas a.active{
	color: #FFFFFF !important;
	background: #FF8F00 !important;
	border-color: #FF8F00 !important;
}

.formulario{
	padding: 4% 5% 3%;
	margin: 8% auto 2%;
	background: #FFFFFF;
}

.form-crear-cuenta{
	margin-top: 3%;
}

.formulario-oculto{
	display: inline;
}

a.enlace-mensaje{
	text-decoration: underline !important;
	cursor: pointer;
}

div.card-deck{
	margin: 5% 0% 5%;
}

.jumbotron{
	margin: 5%;
	background: #FFFFFF;
	border-radius: 0px;
}

.alert{
	width: 100%;
	border-radius: 0px;
	text-align: center;
}

.btn:hover{
	cursor: pointer;
}

.btn-naranja{
	background: #FF8F00;
	color: white;
}

.btn-naranja:hover{
	background: #EF6C00;
	color: white;
}

div.enlace-inicio{
	margin: 20px 0px 0px 0px;
}

.error{
	color: red;
}

div.tabla{
	margin: 2% auto;
}

.titulo{
	margin: 0px;
	padding: 1px 0px 7px;
	border-bottom: 5px solid #FF8F00;
	background: #212529;
	color: #FF8F00;
	text-align: center;	
}

table a{
	color: #FF8F00;
	font-weight: bold;
}

table a:hover{
	color: #EF6C00;
	text-decoration: none;
}

i{
	vertical-align: middle;
	margin: 0px 5px 5px 5px;
}

.icono-naranja{
	color: #FF8F00;
}
.icono-naranja:hover{
	color: #EF6C00;
	cursor: pointer;
}

.icono-verde{
	color: #00E676;	
}
.icono-verde:hover{
	color: #00C853;
	cursor: pointer;
}

.alert-verde{
	background: #2C3034;
	color: #00E676;
}

.alert-rojo{
	background: #2C3034;
	color: #FF1744;
}
.alert-rojo>a{
	color: #FF1744;
	text-decoration: underline;
}

.alert>button>span{
	color: #FFFFFF;
}

i.insignia-Platino{
	color: #80D8FF;
}
i.insignia-Oro{
	color: #FFC400;
}
i.insignia-Plata{
	color: #B0BEC5;
}
i.insignia-Bronce{
	color: #FF6E40;
}