<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>TFG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
  <div class="container col-12">
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	<div th:replace="fragments/mensaje :: mensaje"></div>
  	
  	<div class="tabla col-12 col-md-10">
  		<h1 class="titulo" th:text="${asignatura.nombre}"></h1>
  		<ul class="nav nav-tabs separador-tablas" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="retos-tab" data-toggle="tab" href="#retos" role="tab" aria-controls="retos" aria-selected="true">Retos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="alumnos-tab" data-toggle="tab" href="#alumnos" role="tab" aria-controls="alumnos" aria-selected="false">Integrantes</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="retos" role="tabpanel" aria-labelledby="retos-tab">
		  	<table th:replace="fragments/tablas :: tablaRetos"></table>
		  </div>
		  <div class="tab-pane fade" id="alumnos" role="tabpanel" aria-labelledby="alumnos-tab">
			<table th:replace="fragments/tablas :: tablaAlumnos"></table>
		  </div>
		</div>	  	
	</div>
	
	<!-- Modal Añadir Alumno -->
	<div class="modal fade" id="modalNuevoAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Añadir Alumno</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="formulario form-crear-cuenta" id="insertar-alumno" action="#" th:action="@{/asignatura/{idAsignatura}/alta-alumno(idAsignatura=${asignatura.id})}" th:object="${dtoUsuario}" method="POST">
			  <div class="form-group">
			    <label for="id">Correo electrónico</label>
			    <select class="form-control" id="id" th:field="*{id}">
			      <option th:each="alumno : ${alumnosNoMatriculados}"
		                            th:value="${alumno.id}"
		                            th:utext="${alumno.email}"/>
			    </select>
			  </div>
			  <div class="form-group">
			  	<label for="apellidos">Nombre</label>
				<input type="text" readonly class="form-control-plaintext" th:value="${dtoUsuario.id}"/>
			  </div>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-naranja" form="insertar-alumno">Añadir Alumno</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Modal Añadir Reto -->
	<div class="modal fade" id="modalNuevoReto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Añadir Reto</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="formulario form-crear-cuenta" id="insertar-reto" action="#" th:action="@{/asignatura/{idAsignatura}/insertar-reto(idAsignatura=${asignatura.id})}" th:object="${dtoReto}" method="POST">
			  <div class="form-group">
			  	<label for="nombre">Nombre</label>
				<input type="text" th:field="*{nombre}" class="form-control" id="nombre"/>
				<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message error"></label>
			  </div>
			  <div class="form-group">
			  	<label for="enlace">Enlace</label>
				<input type="text" th:field="*{enlace}" class="form-control" id="enlace" />
				<label th:if="${#fields.hasErrors('enlace')}" th:errors="*{enlace}" class="validation-message error"></label>
			  </div>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-naranja" form="insertar-reto">Añadir Reto</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>    
  </div>
  </body>
</html>